@import "tailwindcss";

@layer utilities {
  .right-paralelogram {
    clip-path: polygon(0 0, 91% 13%, 100% 100%, 10% 82%);
  }
  .left-paralelogram {
    clip-path: polygon(0 0, 88% 19%, 100% 100%, 9% 89%);
  }
  .triangle {
    clip-path: polygon(52% 0, 0 82%, 100% 83%);
  }
}
