@import "tailwindcss";

@layer utilities {
  .paralelogram {
    clip-path: polygon(0 0, 100% 0, 99% 89%, 24% 75%);
    width: 350px;
    height: 500px;
    position: absolute;
    border-radius: 0% 100% 0 100% / 0% 0% 100% 100%;
  }
  .triangle {
    clip-path: polygon(52% 0, 0 82%, 100% 83%);
    width: 116px;
    height: 121px;
    background-color: #27b902cc;
    position: absolute;
  }
}
